@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.App {
  width: 100%;
  min-height: 100vh;
  background: url(../src/assets/bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

